.ScaleView {
    &__fillSizeBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    &__scaleDiv {
        position: absolute;
    }
}
