.AnimationControls {
    position: relative;

    &__positionTimeLine {
        background-color: #9cc0de;
        height: 16px;
    }

    &__timeLinePadding {
        position: relative;
        padding: 8px;
    }
}
