.FieldsTimeLines {
  position: relative;
  padding-top: 2px;

  &__title {
    font-family: monospace;
  }

  &__clicker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}