.TimeLinePointEasing {
    display: flex;
    font-family: monospace;
    font-size: 10px;
    background-color: #eeeeee;

    &__previewsContainer {
        position: relative;
    }

    &__preview {
        background-color: #cccccc;
        border-radius: 4px;
        padding: 4px;

        &_pointer {
            cursor: pointer;
        }
    }

    &__otherPreviews {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100%;
    }
}