.TimeLinePointTooltip {
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    bottom: calc(100% - 2px);
    max-width: 180px;
    left: -1px;
    border-radius: 4px;
    padding: 2px 8px;
    border: 1px solid #eeeeee;
}
