.Board {
    &__animationControlsContainer {
        position: relative;
        overflow: hidden;
    }

    &__animationControlsContainerPadding {
        position: relative;
        padding: 16px;
    }
}
