.ColorTimeLinePreview {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/like-transparent.svg');
  background-position: center;

  &__canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
