.ColorTimeLinePreview {
    width: 100%;
    height: 100%;
    background-image: svg-load('../../assets/like-transparent.svg');

    &__canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
}
