.BooleanTimeLinePreview {
    display: flex;
    height: 8px;

    &__step {
        height: 100%;

        &_exists {
            background-color: #4f86f7;
        }

        &_notExists {
            background-image: svg-load('../../assets/like-transparent.svg');
        }
    }
}
