.BoardPalette {
  position: absolute;
  left: 10px;
  top: 10px;
  composes: menu from '../mixins/menu.pcss';

  &__element {
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 14px;
  }
}