.AnimationTimelines {
    position: relative;

    &__positionTimeLine {
        background-color: #9cc0de;
        height: 16px;
    }


    &__TimeLine__title {
        font-family: monospace;
    }

    &__TimeLine__padding {
        position: relative;
        padding-top: 2px;
    }
}
