.BoardTimeLines {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  composes: menu from '../mixins/menu.pcss';

  &__position {
    position: relative;
  }

  &__padding {
    position: relative;
    padding: 0 16px;
  }
}