.BooleanField__preview {
    position: relative;
    width: 24px;
    height: 24px;

    &_done {
        background-image: url('./img/done.svg');
    }

    &_clear {
        background-image: url('./img/clear.svg');
    }
}
